

body {font-family: calibri;}
 
h1.center {text-align: center;background-color: black; color: white;
 font-family: verdana;}

.headerfortable{text-align: center;background-color:black; color:white}
 
.customul {
 list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;}

li {float: left;}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;}
li a:hover {background-color: tomato;}

.mandytable {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}
tr {width: 10px;}
tr:hover {background-color: purple;}

.divmandy {
  width: 300px;
 float:left;
  height: 100%;  
  padding: 25px;
  border: 4px solid black;
}

.columnmandy1 {
  float: left;
  width: 33.33%;
  padding: 15px;
}
.columnmandy1 {
  float: left;
  width: 33.33%;
  padding: 15px;
