

body {font-family: calibri;}
 
h1.center {text-align: center;background-color: black; color: white;
 font-family: verdana;}

h1 {font-family: verdana;}
h2 {font-family: verdana;background-color:blue}
h3 {font-family: verdana;color: blue}
h4 {font-family: calibri;}
h5 {font-family: calibri;}
h6 {font-family: calibri;}
p {font-family: calibri; color:black}

.headerfortable{text-align: center;background-color:black; color:white}
 
.customul {
 list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;}

li {float: left;}

li a {
  display: block;
  color: white;
  text-align: center;
 font-family:verdana;
  padding: 14px 16px;
  text-decoration: none;}
li a:hover {background-color: blue;}

.mandytable {
  width: 90%;
 border-collapse:collapse;
}
/*found help here https://www.w3schools.com/css/css_table_style.asp*/
th {
  padding: 20px;
  font-family:verdana;
 text-align: left;
 background-color:black;
  color:white;
}
tb {
  padding: 20px;
  font-family:verdana;
 text-align: left;
  border-bottom: 1px solid #DDD;
 color:blue;
}

tr {width: 30px;}
tr:hover {background-color: blue;}


.columnmandy1 {
  float: left;
  width: 600px;
  padding: 25px;
 object-fit:cover;
 font-size: 30px;
}
/* https://www.w3schools.com/css/css_font_size.asp*/

.columnmandy2 {
  float: left;
  width: 600px;
  padding: 25px;
 object-fit:cover;
}

